*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f8f9fa;
    box-sizing: border-box;
}
.h1{
    letter-spacing: 2px;
    font-size: 10vh;
}
hr{
    width: 90vh;
    color: black;
    margin-top: 0;
    border-width: 1vh;
}
.btn{
    float: right;
    width: 12vh;
    margin-top: -5vh;
}